* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
}

body {
    overflow-x: none;
}

header {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    flex-direction: column;

    background-image: linear-gradient(59deg, rgba(22,39,71,0.9473039215686274) 30%, rgba(35,57,103,0.891281512605042) 67%), url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-position: 165% 40%;
}

.menu-p {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 5rem; 

}

.container-grid {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    row-gap: 2vh;
    
}

header img {
    min-width: 20vw;    
}

.menu {
    width: 100%;

    font-size: clamp(2vw,2.5vw,3vw);
    column-gap: 2vw;
    display: flex;
    justify-content: space-evenly;

}

.menu a {
    color: #fff;
    font-size: 1.5vw;;
    font-family: 'lalezar';
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;

}

.menu a:hover {
    text-decoration: underline;
}

#menu-h {
    width: 5vw;
    height: 100%;
    fill: white;
    display: flex;

    align-items: center;
    cursor: pointer;
    
    
}

#menu-h  {
    margin-right: 6vw;
}

.sobre {
    display: flex;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.sobre-text {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}


.sobre-title {
    background-color: #1002;
    padding: 2vh 4vw 2vh 4vw;
    border-radius: 0.75rem;
    width: fit-content;
}

.sobre-title >span {
    font-family: "Lalezar", sans-serif; 
    font-size: clamp(1rem,2vw,1.5rem);     
    color: #fff;
}


h2{ 
    font-family: "Lalezar", sans-serif; 
    font-size: 24px;      
    color: #fff;
    font-weight: normal;
}

.sobre p {
    
    width: 50vw;
    font-family: "inter", sans-serif;
    font-size: clamp(0.8rem,2vw,1.2rem);
    color: white;
    margin-top: 30px;
}


.jogo {
    height: 100vh;
    width: auto;
    background-image: url(img/imagem2.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-jogo {
    width: 100%;
    height: 40rem;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.conteudo-resumo {
    width: 100%;
    height: 58vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    
}


.container-resumo {
    width: 100%; 
    max-width: 600px; 
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px; 
}

.nosso-jogo {
    background-color: #1002;
    padding: 2vh 4vw 2vh 4vw;
    border-radius: 0.75rem;
    width: fit-content;
}

.nosso-jogo>span {
    font-family: "Lalezar", sans-serif; 
    font-size: clamp(1rem,2vw,1.5rem);     
    color: #fff;
}

.radius-resumo {
    background-color: #1002;
    padding: 2.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    align-items: center;
    font-family: "inter", sans-serif; 
    font-size: clamp(0.8rem,2vw,1.2rem);    
    color: #fff;
}

.jogar-agora {
    
    width: 100%;
    max-width: 200px; 
    margin-top: 20px; 
    
}

.playbotao {
    display: flex;
    align-items: center;
    height: 4.5rem;
    background-color: #1002;
    padding: 1rem;
    justify-content: space-around;
    border-radius: 1.5rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 500ms;
}

.playbotao > img {
    height: 100%;
    
}

.playbotao > button {
    font-size: 12px;
    border: none;
    background-color: transparent;
    font-family: "Audiowide";

}

.playbotao:hover {
    background-color: #F2790C;
}

/*
.fundo-container{
    height: 650px;
    width: 75%;
    
   
    background-color: #1112;
}
.title-jogo{
   display: flex;
   justify-content: center;
}
.nosso-jogo{
    background-color: #111;
    height: 100px;
    width: 200px;
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.container-resumo{
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
   
}
.resumo-do-jogo{
    height: 400px;
    width: 460px;
    background-color: #555;
    padding: 10px;
    margin: 5px;
    
}
*/

#cases {
    padding-top: 7vh;
    height: 100%;
    background-color: #233967;
    text-align: center;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.container-cards {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
.card {
    height: 500px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #233967;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.card img {
    height: 50%;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
}
.card p {
    text-align: left;
    font-family: 'inter';
    font-size: 13px;
    padding: 7%;
    color: white;
}
.card button {
    width: 90%;
    height: 40px;
    background-color: #162747;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'inter';
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 500ms;
}
.card button:hover {
    background-color: #1F4C87;
}

#cadastro {
    width: 100%;
    background-color: #233967;
    text-align: center;

    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
  
#cadastro form {
   width: 50%;
   min-width: 14rem;
   margin: 0 auto;
   padding: 60px 0;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 80px;
   
   background-color: #1002;
   
   color: white;
   font-family: "inter"
}

#cadastro form label {
       margin-bottom: 15px;
       font-size: 16px;
}

.campo {
    width: 50%;
    margin-bottom: 50px;
     
    text-align: left;
     
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.campo input {
    height: 45px;
    min-width: 10rem;
      
    color: white;
    background-color: #233967;
    border: none;
    border-radius: 8px;
    outline: none;
    text-indent: 10px;
      
    font-family: "inter";
    font-size: 17px;
}
.campo-textarea {
    width: 50%;
     
    margin-bottom: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.campo-textarea textarea {
    height: 40px;
    color: white;
    background-color: #233967;
    border: none;
    border-radius: 8px;
    padding: 10px;
      
    font-family:"inter";
    font-size: 17px;
    outline: none;
    resize: none;
}

.campo input:focus, .campo-textarea textarea:focus {
   outline: 2px solid #1F4C87;
}

#cadastro form button {
    height: 40px;
    width: 50%;
    font-family: "inter";
    font-size: 17px;
    font-weight: 600;
    color: white;
    background-color: #1002;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 500ms ease ;
  }
   
#cadastro form button:hover {
    background-color: #1F4C87;
   
}
#cadastro form input::placeholder,
#cadastro form textarea::placeholder {
    color: #b9b9b9;
}

footer {
    height: 22rem;
    width: 100%;
    background-color: #162747;
}

footer i {
    color: #000;
}

.contatos {
    height: 100%;
    width: 100%;
    background-image: url(img/imagem1.png);
    display: flex;
    align-items: center;
    
    flex-wrap: wrap;
}

.caixa-sup a {
    color: #000;
}

.caixa-ctt {
    height: 86px;
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
 
}

.icons-pai {
    height: 100%;
    width: 100%;
    background-color: #000;
   
}

.icones-rede {
    height: 100%;
    width: 100%;
}

.suportes {
    height: 100%;
    width: 100%;
    
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.localizacao{
    height: 100%;
    display: flex;
    align-items: center;
    
}

.localizacao a:hover {
    background-color: #1F4C87;
}


.back{
    height: 100%;
    width: 25%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.caixa-sup{
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.localizacao a {
    text-decoration: none;
    background-color: #fff;
    
    padding: 0.75rem 2rem 0.75rem 2rem;
    border-radius: 0.75rem;
    font-family: "Lalezar", sans-serif; 
    font-weight: 300;
    font-size: 20px;
}
.suporte a{
    text-decoration: none;
    background-color: #fff;
    
    padding: 0.75rem 2rem 0.75rem 2rem;
    border-radius: 0.75rem;
    font-family: "Lalezar", sans-serif; 
    font-weight: 300;
    font-size: 20px;
}

.suporte a:hover {
    background-color: #1F4C87;
}

.icones-rede{
    height: 100%;
    width: auto;
}

.icones-redes {
    display: flex;
    background-color: white;
    border-radius: 16px;
    width: 30vw;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    min-width: 45vw;
}

.icones-redes >a>svg {
    width: 100%;
}

.txt {
    color: black;
}

.Ptxt > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

#icone-barras {
    display: none;
}

#icone-x {
    display: none;
}

.menu-fechado {
    display: none;
}



@media screen and (max-width: 1300px) {
    header {
    position: relative;
    }
        
    #menu-h {
    width: 50px;
    position: relative;
    
    display: unset;
    
    background: none;
    border: none;
            
    }
    
    nav.menu {
    height: 400px;
    width: 30vw;
    padding: 0px 30px;
    flex-direction: column;
    justify-content:  space-around;
        
    border-radius: 35px;
    background-color: #233967;
    position: absolute;
    top: 100px;
    right: 0px;
        
    }
    }
    

@media screen and (max-width:600px) {
    #cadastro form {
    width: 77%;
    min-width: 15rem;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: #1002;
    color: white;
    font-family: "inter";
    }

}

@media screen and (max-width:1300px) {
    header {
    background-repeat: no-repeat;
    background-position: 11% 40%;
    background-size: cover;
    }
}


@media screen and (max-width:415px) {
    .txt {
      display: none;
    }
}

@media screen and (max-width:300px) {
    .campo input {
      margin-left: 2px;
    }
}
